$textShadowColor:grey;

.welcome-container{
	display:flex;
	flex-direction: column;
	align-items:center;
	padding-top: calc(100vh /2);
}
.btns{
	display:flex;
	justify-content:space-evenly;
}
.header{
	font-family: 'Abril Fatface', cursive;
	text-shadow: 1px 1px $textShadowColor
}