<div class="welcome-page">
  <div class="welcome-container">
    <h1 class="header">
      Welcome to myFlix!
    </h1>
    <div  class="btns">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Sign Up
      </button>
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Login
      </button>
      <button
        mat-raised-button
        (click)="openMovies()"
        style="margin-right: 10px;"
        color="primary"
      >
        Login without an account
      </button>
    </div>
  </div>
</div>